.errors {
    margin-bottom: 15px;
}

.errors ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.errors li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: red;
    font-size: 12px;
}