.filter__selects {
	margin-bottom: 30px;
}

.selection__arrow{
	height: 100% !important;
    width: 50px !important;
	position: absolute;
    top: 1px;
    right: 1px;
	background-image: url('/local/templates/main/tpl/images/static/dd_list_arrow.svg');
    transition: transform 0.4s;
    background-position: center;
    background-repeat: no-repeat;
}

.open .selection__arrow{
    transform: rotate(-180deg);
}

.filter__section {
	margin-bottom: 10px;
}

.filter .default-input--small {
    margin-right: 30px;
}

.filter .default-input--small:last-child {
    margin-right: 0;
}

.bx-filter-select-block {
	background-color: #fff;
	box-sizing: border-box;
    cursor: pointer;
    display: block;
	border-radius: 0 !important;
    padding: 18px 17px !important;
    height: initial !important;
	position: relative;
}

.bx-filter-select-popup ul {
	list-style: none;
	padding: 0;
    margin: 0;
}

.bx-filter-select-popup ul li {
	padding: 15px 17px !important;
	font-family: 'ExoLightItalic' !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    color: #000 !important;
	cursor: pointer;
}

.bx-filter-select-popup ul li:hover {
	background-color: #f6f6f6;
}

.bx-filter-select-popup ul li label{
	cursor: pointer;
	width: 100%;
    display: block;
}

.popup-window {
	padding: 0 !important;
    box-shadow: none !important;
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}