.popup-window-titlebar-text {
    color: black;
    font-size: 17px;
    font-family: 'ExoItalic';
}

.popup__card-switcher {
    margin-bottom: 8px;
}

.popup__card .default-input {
    width: 260px;
    margin-bottom: 5px;
}

.popup__card-sizes {
    margin-bottom: 30px;
}

.ta-center {
    text-align: center;
}

.error-text {
    color: red;
}

.popup-window .button {
    width: 100%;
}

.popup-window .popup-window-button {
    height: auto;
    line-height: normal;
}

.popup-window .popup-window-button:hover {
    color: #FFF;
}