.item-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.owl-carousel .owl-item .cat-slider__item-image img {
    width: auto;
    margin: 0 auto;
}

.edit_mode .wrapper.wrapper--header.wrapper--start > div:nth-child(1) {
    width: 100%;
}

.edit_mode .content .wrapper .catalog > div:nth-child(3) {
    width: calc(100% - 340px);
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.edit_mode .content .wrapper .catalog > div:nth-child(3) .catalog__cards {
    width: 100%;
}
