.basket__promo .basket__promo-input:after {
	display: none;
}

.basket__promo .basket__promo-input.good:after {
	display: block;
}

.basket__promo .basket__promo-input.bad:after {
	display: block;
	background-image: url(/local/templates/main/tpl/images/static/delete_cart.svg);
}

.basket__item-image {
	background-repeat: no-repeat;
}

#warning_message {
	color: red;
	margin-bottom: 10px;
}