/* default */
@media all and (max-width: 1499px) {
    .wrapper--flex-wrap {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .slider_error .slide{
        padding: 0 30px;
    }
}

@media all and (max-width: 1365px) {
    .wrapper--header {
        padding-left: 170px;
    }

    .slider_error .slide{
        padding: 0 20px;
    }
}

@media all and (max-width: 1279px) {
    .content {
        padding-top: 74px;
	margin-bottom: 15px;
    }

    .wrapper {
        box-sizing: border-box;
    }

    .wrapper--header {
        padding-left: 0;
        padding-right: 0;
    }

    .wrapper--flex-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .slider_error .slide .name a{
        font-size: 20px;
    }
}

@media all and (max-width: 1150px) {
    .error_box .error{
        font-size: 500px;
        line-height: 320px;
    }
}

@media all and (max-width: 1023px) {
    .error_box .error{
        font-size: 450px;
        line-height: 300px;
    }
}

@media all and (max-width: 767px) {
    .wrapper--header {
        padding-left: 0;
        padding-right: 0;
    }

    .error_box .error{
        font-size: 260px;
        line-height: 200px;
    }
}

@media all and (max-width: 479px) {

	.item__image .bx-wrapper {
		display: none;
	}

    .error_box{
        margin-top: 40px;
    }
    
    .slider_error{
        padding: 0;

        margin-top: 40px;
    }

    .slider_error .slide{
        padding: 0;
    }

    .give_try{
        padding: 0;

        font-size: 30px;
        line-height: normal;
    }

    .error_box .error{
        font-size: 170px;
        line-height: 150px;
    }
}

/* slider */
@media all and (max-width: 1279px) {
    .slider--index .slider__name {
        font-size: 52px;
        word-break: break-all;
    }

    .slider--index .slider__nums {
        left: 15px;
    }

    .slider--full .slider__wrapper {
        height: 100vh;
    }

    .menu-picture_wrap {
        display: none;
    }
}

@media all and (max-width: 767px) {
    .slider--full .slider__inner {
        padding-left: 0;
        text-align: center;
    }

    .slider--full .wrapper {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/* weekly */
@media all and (max-width: 1499px) {
    .weekly {
        width: 600px;
    }

    .weekly__image {
        padding-top: 80px;
    }

    .weekly__name {
        font-size: 38px;
    }

    .weekly__about {
        margin-top: -100px;
    }
}

@media all and (max-width: 1279px) {
    .weekly {
        margin: 0 auto;
        margin-top: -100px;
        max-width: 750px;
        width: 100%;
    }

    .weekly__slide {
        width: 100%;
    }
}

@media all and (max-width: 767px) {
    .weekly {
        margin-top: 10px;
    }

    .weekly__image {
        height: initial;
        padding-bottom: 80px;
    }
}

@media all and (max-width: 479px) {
    .weekly__name {
        font-size: 38px;
    }
}

/* ask */
@media all and (max-width: 1499px) {
    .ask {
        width: 600px;
    }

    .ask__question {
        width: 100%;
        box-sizing: border-box;
    }

    .ask__question label {
        font-size: 16px;
    }
}

@media all and (max-width: 1279px) {
    .ask {
        width: 750px;
        margin: 0 auto;
    }

    .ask__question label {
        font-size: 18px;
    }
}

@media all and (max-width: 767px) {
    .ask {
        width: 100%;
        height: auto;
    }

    .ask__qs {
        margin-bottom: 40px;
    }

    .ask__header {
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .ask__name {
        font-size: 28px;
    }

    .ask__more {
        margin-bottom: 40px;
    }

    .ask__submit {
        background-image: initial;
        width: auto;
        padding: 0;
    }

    .ask__question {
        width: 100%;
    }
}

@media all and (max-width: 479px) {
    .ask {
        padding: 30px;
    }

    .ask__name {
        font-size: 24px;
        margin-left: 30px;
    }

    .ask__nav {
        display: flex;
        flex-direction:row;
        -ms-flex-direction: column;
        /*flex-direction: column;*/
        -ms-flex-align: center;
        align-items: center;
    }

    .ask__nav br {
        display: none;
    }

    .ask__count {
        -ms-flex-pack: center;
        justify-content: center;
    }

    .ask__count-current {
        font-size: 58px;
    }

    .ask__more-text {
        font-size: 21px;
    }

    .ask__question {
        width: 100%;
    }
}

/* adv */
@media all and (max-width: 1279px) {
    .benefits {
        padding-left: 35px;
        padding-right: 35px;
    }

    .benefits__item {
        width: 190px;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .benefits__content {
        width: auto;
    }

    .benefits__image {
        background-position: left center;
        margin-bottom: 20px;
    }
}

@media all and (max-width: 767px) {
    .benefits {
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 0;
    }

    .benefits__item {
        width: 320px;
        margin-bottom: 20px;
    }
}

@media all and (max-width: 479px) {
    .benefits__item {
        width: 100%;
    }
}

/* cat-slider */
@media all and (max-width: 1499px) {
    .cat-slider .owl-prev {
        left: 0;
    }

    .cat-slider .owl-next {
        right: 0;
    }

    .cat-slider__slider {
        max-width: calc(100% - 120px);
    }

    .cat-slider__item {
        width: 240px;
        height: 240px;
        margin: 0 auto;
    }

    .cat-slider__item-image {
        max-width: 200px;
        bottom: 0;
    }

    .cat-slider__item-image img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media all and (max-width: 1279px) {
    .cat-slider__slider {
        margin-left: 80px;
    }

    .cat-slider__slider .owl-next {
        right: -30px;
    }

    .cat-slider__slider .owl-prev {
        left: -30px;
    }
}

@media all and (max-width: 479px) {
    .cat-slider__item-name {
        margin-left: 0;
        font-size: 22px;
    }

    .cat-slider {
        margin-bottom: 120px;
    }

    .cat-slider .owl-nav {
        bottom: -50px;
        margin-top: initial;
        top: initial;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .cat-slider .owl-next,
    .cat-slider .owl-prev {
        position: static;
    }

    .cat-slider__slider {
        margin: 0 auto;
        max-width: initial;
        margin-left: 25px;
    }
}

/* exq */
@media all and (max-width: 1279px) {
    .exq {
        width: 50%;
        margin-right: 0;
    }
}

@media all and (max-width: 767px) {
    .exq {
        width: 100%;
        margin-bottom: 40px;
    }
}

/* spec */
@media all and (max-width: 1279px) {
    .spec {
        width: 50%;
        margin-top: 0;
    }

    .spec__item {
        margin-right: 0;
    }

    .spec__item:nth-child(2) {
        display: none;
    }

    .spec__header {
        font-size: 30px;
        text-align: center;
    }

    .spec__items {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media all and (max-width: 767px) {
    .spec {
        width: 100%;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }

    .spec__items {
        width: 100%;
    }

    .spec__header {
        margin-bottom: 20px;
    }

    .spec__item {
        width: 100%;
        text-align: center;
    }

    .spec__more {
        position: static;
        transform: initial;
        text-align: center;
        margin-top: 20px;
    }
}

/* logos */
@media all and (max-width: 1279px) {
    .logos {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .logos__item {
        width: 75%;
        height: 100px;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .logos__item  a{
	margin-top: -20px;
    }
}

@media all and (max-width: 767px) {
    .logos {
        margin-bottom: -30px;
    }
}

/* blog-sc */
@media all and (max-width: 1279px) {
    .blog-sc__main {
        display: none;
    }

    .blog-sc__list {
        width: 100%;
    }

    .blog-sc__wrapper {
        margin-top: 25px;
    }

    .blog-sc__head:after {
        display: none;
    }
}

@media all and (max-width: 767px) {
    .blog-sc {
        margin-top: 50px;
    }

    .blog-sc__list {
        padding-left: 0;
    }

    .blog-sc__item-text {
        font-size: 24px;
        line-height: 28px;
    }

    .blog-sc__item-name {
        font-size: 21px;
    }

    .blog-sc__list-name {
        display: none;
    }

    .blog-sc__wrapper {
        padding-left: 0;
    }

    .blog-sc__item {
        padding-right: 0;
    }
}

/* filter */
@media all and (max-width: 1279px) {
    .filter {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 15px;
    }

    .filter.is-visible {
        opacity: 1;
        visibility: visible;
        height: auto;
    }

    .filter__section {
        width: 50%;
        margin-right: 50px;
    }

    .filter__section:last-child {
        margin-right: 0;
    }

    .filter__selects {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 30px;
    }

    .select2-container--default .select2-selection--multiple {
        border: none !important;
        padding: 16px 17px !important;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        font-size: 12px !important;
        line-height: 1;
        margin-top: 0 !important;
    }

    .filter__options {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media all and (max-width: 767px) {
    .filter {
        transition: all 0.4s;
        visibility: hidden;
	height: 0;
	opacity: 0;
    }
    
    .catalog__filter-button{
	display: block;
    }

    .filter__section {
        width: 100%;
    }

    .filter__selects,
    .filter__options {
        display: block;
    }

    .filter #startPrice {
        margin-right: 10px;
    }
}

/* bread */
@media all and (max-width: 1279px) {
    .bread--styles {
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .bread--styles .bread__nav {
        display: none;
    }

    .bread--styles .bread__head {
        font-size: 18px;
        text-align: right;
    }

    .bread--styles .bread__back {
        display: block;
    }
}

@media all and (max-width: 767px) {
    .bread__nav {
        display: none;
    }
}

@media all and (max-width: 479px) {
    .bread__head {
        font-size: 18px;
    }
}

/* card */
@media all and (max-width: 1279px) {
    .card {
        height: auto;
        margin-left: 0;
    }

    .card__nav {
        transform: initial;
        visibility: visible;
        opacity: 1;
        position: relative;
        z-index: 5;
        border-top: 1px solid #e7e7e7;
    }

    .card__fastbuy {
        display: none;
    }
}

/* pagination */
@media all and (max-width: 767px) {
    .pagination__item {
        margin-left: 0;
    }

    .pagination__item:nth-child(4), .pagination__item:nth-child(5), .pagination__item:nth-child(7) {
        display: none;
    }
}

/* bl-item */
@media all and (max-width: 767px) {
    .blog .article {
        height: auto;
    }

    .bl-item {
        height: auto;
    }

    .bl-item--big {
        min-height: 475px;
    }
}

/* tests */
@media all and (max-width: 1499px) {
    .test__articles {
        display: none;
    }

    .test__tests {
        width: 100%;
        margin-right: 0;
        max-width: initial;
    }

    .test {
        width: 33%;
    }
}

@media all and (max-width: 1279px) {
    .test {
        width: 100%;
        height: auto;
        min-height: initial;
    }

    .test__name {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
        max-width: initial;
        text-align: center;
    }

    .test__answers {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .test__answer {
        width: 40%;
        padding-right: 20px;
        box-sizing: border-box;
    }
}

@media all and (max-width: 767px) {
    .test__answers {
        display: block;
    }

    .test__answer {
        width: auto;
        padding-right: 0;
    }

    .test__tests-submit {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 15px;
    }

    .test__more {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* contacts */
@media all and (max-width: 1279px) {
    .contacts__how-to-section {
        padding-right: 45px;
    }

    .contacts__how-to ol {
        margin-left: 0;
    }
}

@media all and (max-width: 767px) {
    .contacts__contacts {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contact {
        width: 100%;
        padding-left: 0;
        margin-top: 25px;
    }

    .contact:first-child {
        border: none;
        margin-top: 0;
        padding-right: 0;
    }

    .contacts__how-to ol li {
        padding-left: 30px;
    }

    .contacts__how-to-inner {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contacts__how-to-section {
        padding-right: 0;
        width: 100%;
    }
}

@media all and (max-width: 479px) {
    .contacts {
        padding-left: 25px;
        padding-right: 25px;
    }

    .contact__target {
        font-size: 15px;
    }
}

/* infobox */
@media all and (max-width: 479px) {
    .infobox {
        width: 200px;
    }
}

/* comments */
@media all and (max-width: 1279px) {
    .c-filter {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: -15px;
        margin-left: -15px;
    }

    .c-filter__area {
        width: 235px;
        margin-right: 20px;
    }

    .c-filter__area:last-child {
        margin-right: 20px;
    }

    .comments {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .comments__area {
        width: initial;
    }

    .comments__area:first-child {
        margin-right: 0;
    }
}

@media all and (max-width: 767px) {
    .c-filter {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }

    .c-filter__filters {
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }

    .c-filter__area {
        margin-right: 0;
        width: 100%;
        margin-bottom: 40px;
    }

    .c-filter__area:last-child {
        margin-right: 0;
    }

    .comment {
        padding-left: 25px;
        padding-right: 25px;
    }
}

/* i-prew */
@media all and (max-width: 767px) {
    .i-prew__image {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .i-prew__ok {
        display: none;
    }
}

/* add comment */
@media all and (max-width: 1279px) {
    .add-comment__head {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .add-comment__area {
        width: 50%;
    }

    .add-comment__area--items {
        width: 100%;
    }

    .add-comment__area--item {
        margin-right: 0;
    }

    .add-comment__area--info {
        width: calc(50% - 18px);
        margin-bottom: 30px;
    }

    .add-comment__area--info:nth-child(2) {
        margin-left: 36px;
    }

    .add-comment__area--head {
        margin-top: 0;
        width: 100%;
    }

    .add-comment__area--text {
        width: 100%;
    }

    .add-comment__navs {
        width: 100%;
        margin-bottom: 30px;
    }

    .add-comment__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .add-comment {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media all and (max-width: 767px) {
    .add-comment__navs {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .add-comment__area {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .add-comment__area:nth-child(2) {
        margin-left: 0;
    }

    .add-comment__area:last-child {
        margin-bottom: 0;
    }

    .add-comment__area--head {
        margin-top: 30px;
    }
}

/* basket */
@media all and (max-width: 1279px) {
    .basket {
        padding-left: 25px;
        padding-right: 25px;
    }

    .basket__item-name {
        margin-left: 40px;
        width: 175px;
    }

    .basket__item-price {
        margin-right: 20px;
    }

    .basket__item .basket__item-cost {
        display: none;
    }

    .basket__item-remove {
        margin-left: 20px;
    }

    .basket__delivery {
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-right: 40px;
    }

    .basket__end-promo {
        width: 50%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .basket__end {
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .basket__promo {
        margin-bottom: 30px;
        width: 325px;
        margin-right: 0;
    }
}

@media all and (max-width: 767px) {
    .basket {
        padding-bottom: 0;
    }

    .basket__promo {
        width: 100%;
    }

    .basket__end-gray {
        font-size: 18px;
    }

    .basket__end {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .basket__end-promo {
        margin-bottom: 45px;
    }

    .basket__end-promo {
        width: 100%;
    }

    .basket__item {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: start;
        justify-content: flex-start;
        border-bottom: none;
        margin-bottom: 5px;
        background-color: #fff;
    }

    .basket__item-remove {
        -ms-flex-order: -1;
        order: -1;
    }

    .basket__item-link {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 15px;
    }

    .basket__item-name {
        margin: 0;
        margin-top: 15px;
        width: auto;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .basket__item-remove {
        margin-left: 0;
    }

    .basket__item-price {
        margin: 0;
        margin-top: 15px;
    }

    .basket__item-counter {
        margin-top: 15px;
    }

    .basket {
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
    }

    .basket__delivery {
        padding-top: 60px;
        background-position: top center;
        margin-top: 30px;
        padding-right: 0;
    }

    .basket__select {
        width: 290px;
        margin-left: 0;
    }

    .basket__end {
        padding-bottom: 50px;
        background-color: #fff;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media all and (max-width: 479px) {
    .basket__delivery {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .basket__item-cost {
        margin-left: 0;
        margin-top: 20px;
    }

    .basket__select {
        width: 100%;
    }

    .basket__doit {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .basket__doit-input {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .basket__total-submit .button {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* compare */
@media all and (max-width: 767px) {
    .compare__items {
        width: 100%;
    }

    .compare__params {
        display: none;
    }

    .compare {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .compare__nav {
        width: 100%;
    }
}

/* c-item */
@media all and (max-width: 767px) {
    .c-item {
        width: auto;
        padding-right: 55px;
        padding-left: 55px;
        text-align: center;
    }

    .c-item__inner {
        -ms-flex-align: center;
        align-items: center;
    }
}

/* order */
@media all and (max-width: 1279px) {
    .order__header {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .order__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .order__block {
        width: calc(50% - 50px);
    }

    .order__block .default-input--normal {
        width: 100%;
    }

    .order__block--smallest {
        width: 100px;
    }

    .order__block--timer {
        width: 100%;
    }

    .order__section:first-child {
        border-bottom: 1px solid #a9a9a9;
        margin-bottom: 35px;
    }

    .order__select {
        width: 100%;
    }

    .order__select .select,
    .order__select .select2-container--default {
        max-width: 400px !important;
    }

    .order__free {
        margin-left: 0;
        margin-top: 20px;
    }

    .order__about {
        margin-top: 20px;
    }

    .order__comment .add-comment__text-area {
        margin-bottom: 25px;
    }

    .order__submit {
        margin-top: 20px;
    }
}

@media all and (max-width: 767px) {
    .order__header {
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .order__comp {
        margin-right: 0;
    }

    .order__comp-count {
        display: block;
        margin-left: 0;
        margin-top: 10px;
    }

    .order__price {
        margin-top: 20px;
    }

    .order__header-name {
        margin-bottom: 10px;
    }

    .order__content {
        padding: 35px 30px;
    }

    .order__block {
        width: 100%;
        margin-right: 0;
    }

    .order__block--smallest {
        width: 50%;
    }

    .order__block--smallest input {
        width: 80%;
    }

    .order__free {
        width: 100%;
        margin-right: 0;
    }

    .order__about {
        margin-left: 0;
        margin-right: 0;
    }

    .reg__timer {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .reg__time {
        margin-bottom: 20px;
    }

    #reg__timer {
        margin-left: 0;
    }
}

@media all and (max-width: 479px) {
    .reg__timer .default-input--small {
        width: 70px;
    }

    #reg__timer {
        width: 100%;
    }

    .order__submit .button {
        width: 100%;
        text-align: center;
    }
}

/* data */
@media all and (max-width: 1499px) {
    .data__reg {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }

    .data__bonus {
        -ms-flex-order: -1;
        order: -1;
        width: 100%;
        margin-bottom: 40px;
        width: 1000px;
        text-align: center;
    }
}

@media all and (max-width: 1279px) {
    .data__bonus {
        width: 100%;
    }

    .data__form {
        width: 100%;
    }

    .data__content {
        padding-left: 30px;
        padding-right: 30px;
    }

    .data__nav-button {
        width: 50%;
        box-sizing: border-box;
        text-align: center;
        border: none;
    }

    .data__nav-button:first-child {
        margin-right: 0;
    }

    .data__nav {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .data__order-info {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 70%;
    }

    .data__order-block {
        width: 100%;
    }

    .data__order-block:first-child {
        margin-bottom: 20px;
    }

    .data__order-nav {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    .data__order-status {
        margin-right: 35px;
    }
}

@media all and (max-width: 767px) {
    .data__order-info {
        width: 100%;
    }

    .data__order {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .data__order-block:first-child {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .data__order-block:last-child {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .data__order-nav {
        margin-top: 30px;
    }

    .data__order-num {
        margin-right: 0;
    }

    .data__order-status {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media all and (max-width: 679px) {
    .data__nav-button {
        font-size: 14px;
    }
}

@media all and (max-width: 479px) {
    .data__submit {
        width: 100%;
        text-align: center;
    }
}

/* reg */
@media all and (max-width: 1279px) {
    .reg__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .reg__block {
        width: calc(50% - 50px);
    }

    .reg__block .default-input--normal {
        width: 100%;
    }

    .reg__block--timer {
        width: 100%;
    }

    .reg__block--smallest {
        width: 105px;
    }

    .reg {
        width: 100%;
    }

    .reg__confirm-check {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .reg__confirm-check .checkbox-area:first-child {
        margin-right: 0;
    }
}

@media all and (max-width: 767px) {
    .reg {
        padding-left: 30px;
        padding-right: 30px;
    }

    .reg--social {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .reg__head-links {
        margin-top: 20px;
    }

    .reg__head {
        text-align: center;
        line-height: 1.2;
    }

    #reg__timer {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    .reg__block {
        width: 100%;
        margin-right: 0;
    }

    .reg__block--gender, .reg__block--bday, .reg__block--small, .reg__block--smallest {
        width: 50%;
    }

    .reg__social:first-child {
        margin-left: 0;
    }

    .reg__confirm-buttons .button {
        margin-left: 0;
    }
}

/* vacancy */
@media all and (max-width: 1279px) {
    .vacancy__header {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .vacancy__name {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 767px) {
    .vacancy__lists {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .vacancy__about {
        margin-bottom: 50px;
    }

    .vacancy__about:first-child {
        margin-right: 0;
    }

    .vacancy__about:last-child {
        margin-bottom: 0;
    }

    .vacancy {
        padding: 15px;
    }

    .vacancy__inner {
        padding: 15px;
    }

    .vacancy__header .button--orange {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* popup */
@media all and (max-width: 1279px) {
    .popup__closer {
        right: 20px;
        top: 20px;
    }

    .popup__closer:before, .popup__closer:after {
        background-color: #000;
    }
}

@media all and (max-width: 767px) {
    .popup--vac {
        overflow: scroll;
    }

    .popup--vac .popup__inner {
        max-width: 380px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
		left: 0px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .popup--vac .popup__inner #dZUpload,
    .popup--vac .popup__inner textarea,
    .popup--vac .popup__inner .default-input {
        width: 100%;
    }

    .popup--vac .popup__input-area {
        margin-right: 0;
    }

    .popup--vac .popup__row {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

/* style */
@media all and (max-width: 1279px) {
    .styles__promos {
        display: none;
    }

    .styles__content {
        width: 100%;
        max-width: initial;
    }

    .styles__content h2 {
        margin-top: 0;
    }

    .styles__content blockquote {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .styles__slider {
        margin-left: 0;
    }

    .styles__slider .owl-next {
        right: -8px;
    }

    .styles__slider .owl-prev {
        left: -8px;
    }

    .styles__slider .card {
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width: 767px) {
    .styles__main ul,
    .styles__main ol {
        margin-left: 0;
    }

    .styles__main ul {
        margin-bottom: 40px;
    }

    .styles__main table tr {
        padding: 10px 20px;
    }

    .styles__main table tbody td {
        padding-right: 10px;
    }

    .styles__welcome {
        height: 465px;
    }
}

@media all and (max-width: 679px) {
    .styles__main .styles__content blockquote {
        width: 90%;
    }

    .styles__main .style__right-img,
    .styles__main .style__left-img {
        padding: 0;
        float: none;
        max-width: initial;
        text-align: center;
        margin-bottom: 20px;
    }

    .styles__main .style__right-img span,
    .styles__main .style__left-img span {
        font-size: 19px;
        max-width: initial;
    }

    .styles__main blockquote {
        width: 100%;
    }
}

/* detail */
@media all and (max-width: 1279px) {
    .detail__info-block {
        display: block;
    }

    .detail__text {
        margin-right: 0;
    }

    .detail__text {
        margin-bottom: 10px;
    }

    .detail__body {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .detail__comp {
        border: none;
        padding-right: 0;
        width: 100%;
        padding-bottom: 0;
    }

    .detail__about {
        width: 100%;
        padding-left: 0;
    }
}

@media all and (max-width: 834px) {
    .detail {
        padding-left: 35px;
        padding-right: 35px;
    }

    .detail__info {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 50px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .detail__info-block:first-child {
        margin-right: 0;
    }
}

@media all and (max-width: 767px) {
    .detail__desc {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .detail__cost {
        margin-bottom: 20px;
    }

    .detail__price {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .detail__bonuses {
        margin-left: 0;
    }

    .detail__bonus:last-child {
        margin-bottom: 20px;
    }

    .detail__about {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .detail__about-row {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .detail__about-info {
        width: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .detail__about-info:last-child {
        margin-bottom: 0;
    }

    .detail__warning {
        padding-right: 25px;
    }
}

@media all and (max-width: 569px) {
    .detail__head {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: initial;
        justify-content: initial;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .detail__nav {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .detail__remove {
        margin-left: 0;
        margin-top: 30px;
    }

    .detail__repeat {
        margin-top: 30px;
        margin-right: 10px;
    }
}

/*header*/
@media all and (max-width: 1549px) {
    .header__auth {
        margin-right: 54px;
    }

    .header__auth--logged {
        margin-right: 0;
    }
}

@media all and (max-width: 1514px) {
    .header__logo {
        left: 15px;
    }
}

@media all and (max-width: 1499px) {
    .header__nav-link,
    .header__auth-link {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__dd-link {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__menu-link--dd {
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (max-width: 1399px) {
    .header__phones--logged {
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
    }

    .header__phones--logged .header__phone-city {
        display: block;
        padding-left: 0;
    }

    .header__nav--logged .header__nav-link {
        height: 100%;
        box-sizing: border-box;
    }

    .header--logged .header__compare {
        padding-top: 0;
    }

    .header--logged .header__logo {
        top: 25px;
    }
}

@media all and (max-width: 1365px) {
    .header__menu-link--dd {
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (max-width: 1279px) {
    .header {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .header__auth-login {
        left: 50%;
        margin-left: -170px;
    }

    .header__menu-mobile {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }

    .header__auth-name {
        margin-right: 0;
        font-size: 21px;
        margin-bottom: 20px;
        text-align: center;
        text-overflow: initial;
        white-space: initial;
        width: initial;
        overflow: initial;
    }

    .header__compare {
        -ms-flex-order: -1;
        order: -1;
    }

    .header__compare-link {
        font-size: 16px;
    }

    .header__logout {
        text-transform: uppercase;
        font-size: 16px;
    }

    .header__auth {
        margin-right: 0;
    }

    .header__logo {
        display: none;
    }

    .header__menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        z-index: 5;
        padding: 40px;
        padding-top: 0;
        border: 10px solid #fcd650;
        box-sizing: border-box;
        height: 100vh;
        overflow-y: scroll;
    }

    .header__menu-list {
        -ms-flex-direction: column;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0;
        border: none;
    }

    .header__menu-dd-inner {
        column-count: 4;
    }

    .header__menu-link--dd {
        color: #696968;
        font-size: 22px;
        font-family: 'ExoItalic';
    }

    .header__menu-link--dd:hover {
        color: #fff;
    }

    .header__menu-link--dd.is-active {
        color: #fff;
    }

    .header__menu-dd-closer {
        display: none;
    }

    .header__menu-dd {
        position: static;
        visibility: visible;
        display: none;
        opacity: 1;
        padding: 20px;
        border: none;
        background-color: initial;
    }

    .header__menu-dd-name {
        display: none;
    }

    .header__menu-item--services {
        display: none;
    }

    .header__basket-link {
        background-color: #000;
        padding-bottom: 28px;
    }

    .header__top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -ms-flex-order: 1;
        order: 1;
        z-index: initial;
    }

    .header__top:after {
        display: none;
    }

    .header__bottom {
        background-color: transparent;
        padding-top: 0;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        z-index: initial;
    }

    .header__search {
        transition: all 0.4s;
        position: absolute;
        top: initial;
        width: 100%;
        margin-top: 0;
        right: -125px;
        z-index: initial;
    }

    .header__search.is-active {
        right: calc(-100% + 73px);
        z-index: 2;
    }

    .header__search-area {
        top: 0;
    }

    .header__search-area.is-active {
        transform: translateX(calc(-100% + 73px));
        width: 100%;
    }

    .header__search-icon {
        width: 74px;
        height: 74px;
    }

    .header__catalog-button {
        z-index: 2;
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #ffffff;
        font-family: 'PTNar';
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 13px;
        display: block;
        padding-left: 25px;
        padding-right: 46px;
        background: #fda324;
        /* Old browsers */
        /* FF3.6-15 */
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #fda324 0%, #f7d04c 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fda324', endColorstr='#f7d04c', GradientType=1);
        /* IE6-9 */
    }

    .header__catalog-button.is-active:after {
        transform: rotate(-180deg);
    }

    .header__catalog-button:after {
        display: block;
        content: '';
        position: absolute;
        width: 12px;
        height: 9px;
        top: 31px;
        right: 20px;
        background-position: center;
        background-size: cover;
        background-image: url(../images/static/catalog__arrow.png);
        transition: transform 0.4s;
    }

    .header__menu-opener {
        display: block;
        width: 74px;
        height: 74px;
        background-color: #fff;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 1;
    }

    .header__menu-opener.is-active .header__menu-opener-inner {
        margin-top: 15px;
    }

    .header__menu-opener.is-active .header__menu-opener-pin {
        margin-top: -11px;
    }

    .header__menu-opener.is-active .header__menu-opener-pin:first-child {
        transform: rotate(45deg);
    }

    .header__menu-opener.is-active .header__menu-opener-pin:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }

    .header__menu-opener.is-active .header__menu-opener-pin:last-child {
        transform: rotate(-45deg);
    }

    .header__menu-opener-inner {
        transition: all 0.4s;
    }

    .header__menu-opener-pin {
        display: block;
        height: 3px;
        width: 30px;
        margin-bottom: 8px;
        background: #fda324;
        /* Old browsers */
        /* FF3.6-15 */
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #fda324 0%, #f7d04c 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fda324', endColorstr='#f7d04c', GradientType=1);
        /* IE6-9 */
        transition: all 0.4s;
    }

    .header__menu-opener-pin:last-child {
        margin-bottom: 0;
    }

    .header__search-input {
        padding-left: 25px;
    }

    .header__logo-mobile {
        display: block;
        position: absolute;
        top: 200px;
        width: 100%;
        background-image: url(../images/static/header__border.png);
        background-repeat: repeat-x;
        height: 5px;
        left: 0;
    }

    .header__logo-mobile:before {
        content: '';
        display: block;
        position: absolute;
        background-size: cover;
        background-position: center;
        background-image: url(../images/static/mobile-logo.png);
        width: 129px;
        height: 71px;
        top: -53px;
        left: 15px;
    }

    .header__nav {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
    }

    .header__nav.is-active {
        overflow: scroll;
        overflow-x: hidden;
        height: 100vh;
        opacity: 1;
        visibility: visible;
    }

    .header__nav.is-active .header__nav-list,
    .header__nav.is-active .header__service,
    .header__nav.is-active .header__phones,
    .header__nav.is-active .header__socio,
    .header__nav.is-active .header__auth {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .header__auth {
        -ms-flex-order: -1;
        order: -1;
        margin-top: 300px;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }

    .header__auth-link {
        font-size: 22px;
        padding: 0;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }

    .header__auth-link:last-child {
        margin-bottom: 0;
    }

    .header__auth-link:hover {
        background-color: transparent;
        color: #fdd345;
    }

    .header__city {
        box-sizing: border-box;
        width: 360px;
        position: absolute;
        top: 74px;
        left: 0;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        z-index: 1;
        padding-top: 20px;
    }

    .header__city-approve {
        padding-top: 0;
    }

    .header__city-current {
        margin-top: 0;
        margin-left: 20px;
    }

    .header__nav-list {
        margin-top: 96px;
        margin-bottom: 96px;
        position: relative;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }

    .header__nav-list:before, .header__nav-list:after {
        content: '';
        width: 380px;
        display: block;
        position: absolute;
        height: 2px;
        background-color: #ffcd30;
        left: -30%;
    }

    .header__nav-list:before {
        top: -48px;
    }

    .header__nav-list:after {
        bottom: -48px;
    }

    .header__nav-link {
        padding: 0;
        font-size: 22px;
        text-align: center;
        transition: color 0.4s;
    }

    .header__nav-link:hover {
        background-color: transparent;
        color: #ffc12b;
    }

    .header__dd {
        display: none;
        position: static;
        width: initial;
        background-color: transparent;
    }

    .header__dd-link {
        text-align: center;
        padding: 0;
        font-family: 'ExoMeditalic';
        font-size: 19px;
        color: #ffc12b;
    }

    .header__dd-link:hover {
        background-color: transparent;
    }

    .header__dd-item {
        margin-bottom: 35px;
    }

    .header__dd-item:first-child {
        margin-top: 35px;
    }

    .header__dd-item:last-child {
        margin-bottom: 0;
    }

    .header__nav-item {
        margin-bottom: 35px;
    }

    .header__nav-item:last-child {
        margin-bottom: 0;
    }

    .header__nav-item .header__dd {
        visibility: visible;
        opacity: 1;
    }

    .header__phone-city {
        display: block;
        font-size: 18px;
        margin-top: 25px;
        text-align: center;
    }

    .header__phone {
        font-size: 26px;
        font-family: 'PTNarBold';
        position: relative;
    }

    .header__phone:before {
        width: 33px;
        height: 48px;
        content: '';
        display: block;
        position: absolute;
        background-image: url(../images/static/768_phone-icon.svg);
        background-position: center;
        background-size: cover;
        top: -2px;
        left: -50px;
    }

    .header__phones {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        padding: 0;
        margin-bottom: 45px;
    }

    .header__service {
        display: block;
        margin-bottom: 96px;
        position: relative;
    }

    .header__service:after {
        display: block;
        content: '';
        position: absolute;
        bottom: -48px;
        content: '';
        width: 380px;
        left: -68%;
        display: block;
        position: absolute;
        height: 2px;
        background-color: #ffcd30;
    }

    .header__service-link {
        font-size: 22px;
        font-family: 'PTNarBold';
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
    }

    .header__service-link:before {
        display: block;
        content: '';
        position: absolute;
        background-image: url(../images/static/768_service-icon.svg);
        background-size: cover;
        background-position: center;
        width: 44px;
        height: 42px;
        left: -65px;
        top: 50%;
        margin-top: -21px;
    }

    .header__socio {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 165px;
        margin-bottom: 70px;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .header__socio-link {
        display: block;
        background-size: cover;
        background-position: center;
        transition: opacity 0.4s;
        opacity: 0.5;
    }

    .header__socio-link:hover {
        opacity: 1;
    }

    .header__socio-link--vk {
        width: 32px;
        height: 19px;
        background-image: url(../images/static/768_vk.svg);
    }

    .header__socio-link--fb {
        width: 13px;
        height: 27px;
        background-image: url(../images/static/768_facebook.svg);
    }

    .header__socio-link--yt {
        width: 28px;
        height: 33px;
        background-image: url(../images/static/768_youtube.svg);
    }

    .header__menu-dd-head {
        display: block;
        font-size: 19px;
    }

    .header__menu-link {
        padding-left: 0;
    }

    .header__menu-link--dd {
        padding-bottom: 15px;
        padding-top: 15px;
        padding-right: 0;
        border-top: 2px solid #595958;
    }

    .header__menu-name {
        font-family: 'ExoItalic';
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
        margin-right: 30px;
    }

    .header__menu-list {
        padding: 0;
    }

    .header__menu-item:first-child .header__menu-link {
        padding-left: 0;
    }

    .header__menu-dd {
        padding-left: 0;
        height: initial;
    }

    .header__menu-item--choose {
        display: none;
    }

    .header__menu-closer {
        position: absolute;
        display: block;
        width: 35px;
        height: 35px;
        right: 5px;
        top: 5px;
    }

    .header__menu-closer:before, .header__menu-closer:after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 17px;
        left: 0;
    }

    .header__menu-closer:before {
        transform: rotate(45deg);
    }

    .header__menu-closer:after {
        transform: rotate(-45deg);
    }

    .header__menu-get-bike {
        box-sizing: border-box;
        position: relative;
        margin-right: 20px;
        display: block;
        opacity: 1;
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: 'PTNar';
        text-decoration: none;
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
        font-size: 22px;
        padding-right: 50px;
        padding-left: 110px;
        background: #fda324;
        /* Old browsers */
        /* FF3.6-15 */
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #fda324 0%, #f7d04c 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fda324', endColorstr='#f7d04c', GradientType=1);
        /* IE6-9 */
    }

    .header__menu-get-bike:before {
        left: 31px;
        top: 50%;
        margin-top: -15px;
        display: block;
        position: absolute;
        content: '';
        width: 52px;
        height: 30px;
        background-position: center;
        background-size: cover;
        background-image: url(../images/static/bike-icon-white.svg);
    }
}

@media all and (max-width: 1023px) {
    .header__menu-dd-inner {
        column-count: 3;
    }
}

@media all and (max-width: 767px) {
    .header__menu-dd-list {
        display: none;
    }

    .header__menu-dd-block {
        max-width: initial;
        min-width: initial;
    }

    .header__menu-dd-block:last-child .header__menu-dd-head {
        margin-bottom: 0;
    }

    .header__menu-dd-inner {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex !important;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    
	.header__menu-dd-inner.velocolumn {

	    column-count: 1;
	    -webkit-column-count: 1;
	    -moz-column-count: 1;
	    width: 100%;
	    float: none;
	    margin-bottom: 20px;
	}
	


    .header__menu-dd-item:last-child .header__menu-dd-link {
        margin-bottom: 17px;
    }

    .header__menu-dd-head {
        position: relative;
        display: inline-block;
    }

    .header__menu-dd-head:after {
        right: -30px;
        top: 50%;
        margin-top: -5px;
        display: block;
        content: '';
        opacity: 0;
        visibility: hidden;
        transform: rotate(-180deg);
        position: absolute;
        background-image: url(../images/static/dd_list_arrow.svg);
        background-size: cover;
        background-position: center;
        width: 14px;
        height: 10px;
        transition: all 0.4s;
    }

    .header__menu-dd-head.is-active:after {
        opacity: 1;
        visibility: visible;
        transform: rotate(0);
    }
}

@media all and (max-width: 679px) {
    .header__menu-mobile {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .header__menu-get-bike {
        margin-top: 25px;
        margin-right: 0;
    }
}

@media all and (max-width: 479px) {
    .header__basket-value {
        display: none;
    }

    .header__basket-link {
        padding-bottom: 42px;
	padding-left: 64px;

    }

    .header__basket-link:before {
        top: 28px;
        left: 23px;
    }

    .header__basket-link .icon-rouble {
        display: none;
    }

    .header__city-control {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .header__city-accept,
    .header__city-choose {
        text-align: center;
    }

    .header__city-accept {
        margin-bottom: 18px;
    }

    .header__city {
        width: 300px;
    }

    .header__city-approve,
    .header__city-selection {
        width: 300px;
    }

    .header__city-wrapper,
    .header__city-nav {
        box-sizing: border-box;
        width: 300px;
    }

    .header__menu-get-bike {
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        text-align: center;
    }

    .header__menu-get-bike:before {
        display: none;
    }

    .header__menu {
        padding: 25px;
    }
}

@media all and (max-width: 359px) {
    .header__basket-link {
        padding-left: 29px;
    }

    .header__basket-link:before {
        left: 14px;
    }
}

/* footer */
@media all and (max-width: 1279px) {
    .footer__nav {
        display: none;
    }
}

@media all and (max-width: 767px) {
    .footer__inner {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer__logo {
        margin-bottom: 25px;
    }

    .footer__socio {
        margin-bottom: 35px;
	width: 100%;
	margin-right: 0;
    }

    .footer__socio-link--vk {
	width: 24px;
	height: 15px;
    }

    .footer__socio-link--fb {
	width: 10px;
	height: 18px;
    }
    
    .footer__socio-link--tw {
	width: 22px;
	height: 18px;
    }
    
    .footer__socio-link--strava {
	width: 87px;
	height: 16px;
    }

    .footer__socio-link--yt {
        width: 33px;
        height: 38px;
    }
    
    .footer__created {
	margin-left: 135px;
    }

    .footer__socio {
        width: 100%;
    }
}

/* catalog */
@media all and (max-width: 1279px) {
    .catalog {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .catalog__filter {
        width: 100%;
    }

    .catalog__cards {
        width: 100%;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

@media all and (max-width: 767px) {
    .catalog__filter-button {
        display: initial;
        margin-bottom: 20px;
    }
}

/* search */
@media all and (max-width: 1279px) {
    .search__head {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: end;
        align-items: flex-end;
        padding-left: 25px;
        padding-right: 25px;
    }

    .search__input {
        width: 100%;
        margin-bottom: 20px;
    }

    .search__checks {
        width: 50%;
    }

    .search__text-content {
        padding-left: 0;
        padding-right: 0;
    }

    .search__text {
        padding-left: 25px;
        padding-right: 25px;
    }

    .search__item {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media all and (max-width: 767px) {
    .search__input {
        margin-bottom: 30px;
    }

    .search__checks {
        width: 100%;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 30px;
    }

    .search__checks-head {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .search__head {
        -ms-flex-pack: center;
        justify-content: center;
    }

    .search__head button {
        width: 100%;
    }
}

@media all and (max-width: 679px) {
    .search__item-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .search__item {
        padding-left: 65px;
        padding-right: 65px;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .search__item-about {
        width: 100%;
    }
}

@media all and (max-width: 479px) {
    .search__checks-head {
        width: 100%;
        margin-bottom: 20px;
    }

    .search__checks {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

/* sitemap */
@media all and (max-width: 479px) {
    .sitemap {
        padding-left: 30px;
        padding-right: 30px;
    }

    .sitemap__list {
        padding-left: 15px;
    }

    .sitemap__inner-list {
        padding-left: 15px;
    }
}

/* not-found */
@media all and (max-width: 1279px) {
    .not-found__backface {
        font-size: 320px;
    }
}

@media all and (max-width: 767px) {
    .not-found__head {
        font-size: 18px;
        line-height: 1.4;
    }

    .not-found__backface {
        font-size: 155px;
        top: 220px;
    }

    .not-found__content {
        margin-top: 40px;
    }
}

@media all and (max-width: 479px) {
    .not-found__slider {
        width: 100%;
    }

    .not-found__slide {
        width: 290px;
    }

    .not-found__slide-image {
        background-position: center;
        background-size: cover;
        height: 310px;
        margin-bottom: 30px;
    }
}

/* item */
.item-slider .owl-next,
.item-slider .owl-prev {
    display: block;
}

@media all and (max-width: 1279px) {
    .item__sizes-table {
        max-width: 100vw;
        left: 0;
    }

    .item__sizes-table img {
        max-width: 100%;
    }

    .item__main {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .item__image {
        width: 100%;
    }

    .item__about {
        width: 100%;
        margin-top: 10px;
    }

    .item__sub {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .item__sub-left {
        width: 100%;
    }

    .item__delivery {
        width: 100%;
    }

    .item__share-links {
        position: static;
    }

    .item__share {
        position: relative;
    }

    .item__share-copy {
        left: 0;
        bottom: 0;
    }
}

@media all and (max-width: 767px) {
    .item__get-sizes {
        padding: 10px;
    }

    .item__get-sizes .popup__card-size:nth-child(5) {
        margin-right: 13px;
    }

    .item__table {
        padding-left: 10px;
        padding-right: 10px;
    }

    .item__table table tr {
        padding-left: 15px;
        padding-right: 15px;
    }

    .item__table table {
        display: block;
    }

    .item__table table tbody tr {
        box-sizing: border-box;
    }

    .item__table table tbody td {
        box-sizing: border-box;
        padding-right: 10px;
    }

    .item__about-desc-price--disc {
        margin-bottom: 20px;
    }

    .item__about-compare {
        margin-bottom: 20px;
    }

    .item__about-desc {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }

    .item__about-image {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-bottom: 10px;
    }

    .item__about-images {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .item__slider {
        max-width: 70%;
    }

    .item__image {
        -ms-flex-direction: column;
        flex-direction: column;
        height: initial;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 20px;
    }

    .item__images {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-order: 2;
        order: 2;
        margin-right: 0;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .item__about {
        padding-left: 30px;
        padding-right: 30px;
    }

    .item__slider {
        margin: 0 auto;
        min-height: 150px;
        margin-bottom: 50px;
        display: -moz-flex !important;
        display: -ms-flex !important;
        display: -o-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        max-width: initial;
    }

    .item__about-sizes-input {
        margin-top: 10px;
        max-width: 100%;
    }

    .item__get-sizes-link {
        margin-top: 10px;
    }

    .item__about-sizes {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 5px;
    }

    .item__min {
        margin-right: 10px;
        height: 60px;
        width: 60px;
        background-size: contain;
    }

    .item__min:last-child {
        margin-right: 0;
    }

    .item__share-links {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .item__share-link {
        margin-bottom: 15px;
    }

    .item__about-link {
        line-height: 1.5;
    }

    .item__about-params-char {
        line-height: 1.5;
    }

    .item__recalls {
        padding-left: 20px;
        padding-right: 20px;
    }

    .item__recalls-header {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .item__add-recall {
        margin-top: 20px;
    }

    .item-slider {
        width: 100%;
    }

    .item__share-copy {
        width: initial;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .item__share-copy {
        width: calc(100vw - 32px); 
    }

    .item__share-url {
        width: 100%;
    }

    .item__copy {
        text-align: center;
        margin-top: 20px;
    }
}
